<div style="margin-top:-10%;">
    <table width="80%" height="800px" style="text-align:center">
        <tr>
            <td width="40%" style="color:white;padding:20px">
            <img src="../../../assets/industry.jpg" style="height:500px; width:120%">
            </td>
            <td width="40%" style="padding:20px">
                <h1>Industry Registration</h1>
                <form (ngSubmit)="registerIndustry()" style="margin-top:-8%;">
                    <p> <input type="text" placeholder="Industry Name"  id="NGOname"  name="IndustryName" [(ngModel)]="industry.name">   </p>
                    <p ><input type="address" placeholder="Industry Location"  id="address" name="address" [(ngModel)]="industry.address"></p>
                    <p><input type="email" placeholder="Email id" name="email" id="email" required [(ngModel)]="industry.email"></p>
                    <p><input type="text" placeholder="Description" name="description" id="description" required [(ngModel)]="industry.description"></p>
                    
                    <input type="file" id="files" name="files" multiple>
                    <input type="text" name="typeofIndustry" list="typeofIndustry" placeholder="Select Industry Type" [(ngModel)]="industry.industryType">
                    <datalist id="typeofIndustry">
                        <option>Thermal Production Recycling</option>
                        <option>Glass Production Recycling</option>
                        <option>Biodegradable</option>
                        <option>Straw and Grass Reycling</option>
                        <option>Plastic Recycling</option>
                        <option>Rubber Recycling</option>
                        <option>Leather Industry</option>
                        <option>Textile Industry</option>
                        <option>Electronic Recycling</option>
                    </datalist>
                    <input type="text" name="typeofindustrysector" list="typeofindustrysector" placeholder="Select Industry sector" [(ngModel)]="industry.sector">
                    <datalist id="typeofindustrysector">
                        <option>Private</option>
                        <option>Public</option>
                    </datalist>
                    <mat-action>
                        <button type="submit" mat-raised-button>Submit</button>
                    </mat-action>
                    
                </form>
            </td>
        </tr>
    </table>
</div>


