*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing:border-box;
}
body{
    display:flex;
    justify-content:center;
    height:100vh;
    flex-direction: column;
    align-items:center;
}
img{
    width:100%;
}
form{
    margin-top:50px;
    text-align:center;
}
input{
    display:block;
    width:350px;
    height:40px;
    margin:20px;
    border:none;
    outline: none;
    font-size:18px;
    border-bottom:1px solid black;
    background: transparent;
    color:black;
}
button{
    width:180px;
    height:40px;
    font-size:20px;
    margin:20px;
    background-color:rgb(255, 17, 0) ;
    border:none;
    color:white;

}
h1{
    margin-bottom: 30px;
    color:rgb(241, 24, 9);
}
p{
    color:rgb(241, 24, 9);
}
::placeholder{
    color:grey;

}
