<script src="https://use.fontawesome.com/f59bcd8580.js"></script>
<div class="container">
<div class="row m-5 no-gutters shadow-lg">
<div class="col-md-6 d-none d-md-block">
<img src="../../../assets/logo_pic.jpg" class="img-fluid" style="max-height:120%;" />
</div>
<div class="col-md-6 bg-white p-5">
<h3 class="pb-3">Login Form</h3>
<div class="form-style">
<form  (ngSubmit)="loginUser()">
  <div class="form-group pb-3">    
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  placeholder="Enter a valid username" name="username" [(ngModel)]="user.username">   
  </div>
  <div class="form-group pb-3">   
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password" name="password" [(ngModel)]="user.password">
  </div>
   <div class="pb-2">
  <button type="submit" class="btn btn-dark w-100 font-weight-bold mt-2">Submit</button>
   </div>
</form>
</div>
</div>
</div>
</div>

  