<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
              <div class="position-sticky" style="margin-top:15%">
                <div class="list-group list-group-flush mx-3 mt-4" >
                  <a href="#" class="list-group-item list-group-item-action py-2 ripple active">
                    <i class="fas fa-chart-area fa-fw me-3"></i><span>Admin Dashboard</span>
                  </a>
                  <a routerLink="/admin/add-category" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-lock fa-fw me-3"></i><span>Add waste Category</span>
                  </a>
                  <a routerLink="/admin/" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-chart-line fa-fw me-3"></i><span>View Users</span>
                  </a>
                  <a routerLink="/admin/view-categories" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-chart-pie fa-fw me-3"></i><span>View Waste Categories</span>
                  </a>
                  <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-chart-pie fa-fw me-3"></i><span>Logout</span>
                  </a>
                  
                </div>
              </div>
          
            <!-- Sidebar -->
          
            </div>
            <div class="col-md-9">
                <mat-card style="margin-top:2%"><h2 style="color:green"><i>Welcome {{username}} To My Swachta App </i><button style="margin-left:20%" mat-raised-button color="primary" (click)="logout()"><h3>Logout</h3></button></h2></mat-card>
               
                <router-outlet></router-outlet>
            </div> 
        </div>
    </div>
</div>



