<div class="col-md-4 col-md-offset-4" id="login">
  <h2 align="center" style="color:red">Registration Form</h2>
  <section id="inner-wrapper" class="login">
    <article>
      <form>
        <div class="form-group">
          <div class="input-group">
            
            <input type="text" class="form-control" placeholder="Name">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
           
            <input type="email" class="form-control" placeholder="Email Address">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            
            <input type="text" class="form-control" placeholder="Contact Number">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
           
            <input type="password" class="form-control" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
           
            <input type="password" class="form-control" placeholder="Confirm Password">
          </div>
        </div>
          <button type="submit" class="btn btn-success btn-block">Submit</button>
      </form>
    </article>
  </section></div>