<body>
  <div id="container"  style="margin-top:7%;">
     <header>Register new account</header>
     <form (ngSubmit)="registerUser()">
      <fieldset>
        <br/>
        <input type="text" name="username" [(ngModel)]="user.username" id="username" placeholder="Username" required autofocus>
        <br/><br/>
        <input type="email" name="email" id="email" placeholder="E-mail" [(ngModel)]="user.email" required>
        <br/><br/>
        <input type="text" name="societyname" id="username" placeholder="Society Name" [(ngModel)]="user.societyName" required autofocus>
        <br/><br/>
        <input type="text" name="phonenumber" id="phonenumber" placeholder="Contact Number" [(ngModel)]="user.phonenumber" required autofocus>
        <br/><br/>
        <input type="password" name="password" id="password" placeholder="Password" [(ngModel)]="user.password" required>
        <br/><br/>
        <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm Password" [(ngModel)]="confirmPassword" required>
        <br/> <br/> <br/>
        <label for="submit"></label><br>
        <button type="submit" class="btn btn-success btn-block" style="margin-top:-15%;">Submit</button>
     </fieldset>
     </form>
   </div>
 </body>
