<div class="input-group" style="width:90%; margin-top: 1%;">
    <h4><i style="color: red;">Search Nearby Slum Areas</i></h4> &nbsp;
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    &nbsp;<button type="button" class="btn btn-outline-primary">search</button>
</div><br><br>
<img style="width:100%" src="../../../assets/contact-us.jpg">
<mat-card>
    <mat-card-header style="align-content: center;"><h3 style="align-self: center;">Get Points From your activity <i style="color:red">Win Cashbacks and Reward points</i></h3></mat-card-header>
</mat-card>
<img style="width:100%;" src="../../../assets/eng_banner.jpg">

