<div class="input-group" style="width:90%; margin-top: 1%;">
  <h4><i style="color: red;">Search Nearby Slum Areas</i></h4> &nbsp;
  <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" (keydown.enter)="$event.preventDefault()" aria-describedby="search-addon" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search />
  &nbsp;<button type="button" class="btn btn-outline-primary">search</button>
</div><br><br>

<!-- app.component.html -->
<agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
  <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
    (dragEnd)="markerDragEnd($event)"></agm-marker>
</agm-map>
<main>
  <section style="margin-top:-3%;">
      <h2 style="color:crimson">ABOUT WASTE2RECYCLE</h2>
      <hr>
      <p style="text-align: justify; margin-left: 10%; margin-right: 10%;"><b style="color:rebeccapurple">Recycling, recovery and reprocessing of waste materials for use in new products. The basic phases in recycling are the collection of waste materials, their processing or manufacture into new products, and the purchase of those products, which may then themselves be recycled. Typical materials that are recycled include iron and steel scrap, aluminum cans, glass bottles, paper, wood, and plastics. The materials reused in recycling serve as substitutes for raw materials obtained from such increasingly scarce natural resources as petroleum, natural gas, coal, mineral ores, and trees. Recycling can help reduce the quantities of solid waste deposited in landfills, which have become increasingly expensive. Recycling also reduces the pollution of air, water, and land resulting from waste disposal.</b></p>
  </section>
  
  </main>

