body{
    font-family: "Montserrat";
    text-align: center;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}
p{
    color: #8f8f8f;
    font-weight: 500;
}

/* Heading Section */
.main-heading{
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}
.section-heading{
    font-weight: 800; 
    font-size: 3rem;
    line-height: 1.5;
}

/* Container Section */
.container-fluid{
    padding: 7% 15%;
}

/* Sections */
.colored-section{
    background-color: #6495ed;
    color: #fff;    
}
.white-section{
    background-color: #fff;
}
/* .r-section{
    background-color: #44B0CF #6495ed #2485B8;
} */
/* Navigation Bar */
.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: Ubuntu;
    font-size: 2.5rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-family: "Montserrat";
}

/* Download-Button */
.download-btn{
    margin: 5% 3% 5% 0;
}

/* Title Section */
#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}
.title-img{
    width: 60%;
    transform: rotate(20deg);
    position: absolute;
    right: 30%;
}

/* Features Section */
#features{
    position: relative;
}
.feature-title{
    size: 1.5rem;
}
.box{
    padding: 5%;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}

/* Testimonials Section */
#testimonials{
    background-color: #3649A1;
}
.testimonial-text{
    font-weight: 800; 
    font-size: 3rem;
    line-height: 1.5;
}
.testimonial-image{
    width: 20%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing{
    padding: 100px;
}
.price-text{
    font-weight: 800; 
    font-size: 3rem;
    line-height: 1.5;
}
.pricing-col{
    padding: 3% 2%;
}

/* Footer Section */
.footer-icon{
    margin: 20px 10px;
}

@media (max-width: 1028px){
    #title{
        text-align: center;
    }
    .title-img{
        position: static;
        transform: rotate(0);
        width: 50%;
    }
}

.home-image{
    height: 60%;
    width:100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

*{
  box-sizing: border-box;
  list-style: none;
}
body{
  margin: 0px;
}
nav{
  background-color:black;
  overflow: hidden;
}
nav a{
  display:block;
  text-decoration: none;
  color:white;
  text-align: center;
  padding: 20px;
  float:left;
}
section {
  text-align: center;
  padding-top:40px;
  height:80vh;
}
section:first-child{
  margin-top:1px;
  opacity: 0.9;

}
section:nth-child(even){
  background-color:white;
  height:50vh;
}  
section:nth-child(even) h1,h2{
  padding-top:20px ;
  font-family: cursive;
  color:red;
  
} 

section:nth-last-child(even) h1{
  color:black;
}
.container {
 width:100%;
  height:400px;
  padding-top:20px;
  padding-left:15px;
  padding-right:15px;
}
.card img {
  width: 100%;
  height:100%;
  margin:none;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  opacity: none;
}
.card p{
  text-align: justify;
  padding-left: 10px;
  padding-right:10px;
}
.card {
  float:left;
  background-color: white;
  margin-top: 5px;
  margin-bottom:5px;
  height:370px;
  width:300px;
  position: relative;
  border:solid black;
  border-radius:20px;
  margin-left: 8px;
  margin-right: 8px;
}

agm-map {
    height: 300px;
}
