<body itemscope="itemscope" itemtype="http://schema.org/Person">
    <meta itemprop="birthDate" content="1990-03-20">
    <meta itemprop="url" content="https://krasin.in.ua">
    <meta itemprop="email" content="mailto:kirillkrasin@gmail.com">
        <div class="profile-wrapper container">
        <div class="row">
            <div class="col-md-6 left">
                <img class="user-photo" itemprop="image" src="https://ru.gravatar.com/userimage/28503754/1168e2bddca84fec2a63addb348c571d.jpg?size=350" alt="Kirill Krasin">
            </div>
            <div class="col-md-6 right text-center">
                <h1 itemprop="name">{{user.username}}</h1><!-- Name -->
                <h2>{{user.email}}</h2><!-- Job -->
                <h2 style="color:red">Gulmohour Villah Society</h2>
                <hr>
                <div class="links">
                <a href="https://t.me/Mo_45"><i class="fab fa-fw fa-telegram-plane fa-2x"></i></a>
                <a href="https://twitter.com/Mo_45"><i class="fab fa-fw fa-twitter fa-2x"></i></a>
                <a href="https://github.com/Mo45"><i class="fab fa-fw fa-github-alt fa-2x"></i></a>
                <a href="https://codepen.io/kirillkrasin/"><i class="fab fa-fw fa-codepen fa-2x"></i></a>
                <a href="https://vk.com/kirillkrasin"><i class="fab fa-fw fa-vk fa-2x"></i></a>
                </div>
                <hr>
                <div class="phone">
                <button mat-raised-button color="warn">View Waste Activity</button>
                <h2><a id="contact-phone" href="tel:+121231232323">{{user.phoneNumber}}</a></h2>
                </div>
            </div>
        </div>
        </div>
        <style>@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300');</style>
      </body>