<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
               <mat-card style="margin-top: 8%;">
                <div class="position-sticky" style="margin-top:-7%">
                    <div class="list-group list-group-flush mx-3 mt-4" >
                      <a href="#" class="list-group-item list-group-item-action py-2 ripple active">
                        <i class="fas fa-chart-area fa-fw me-3"></i><span><b>User Dashboard</b></span>
                      </a>
                      <a href="https://aniass-waste-app-waste-rkm4o1.streamlitapp.com/" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fas fa-chart-pie fa-fw me-3"></i><span><b>Classify Waste</b></span>
                      </a>
                      <a routerLink="/user/waste" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fa fa-upload"></i><span><b>Add waste Product</b></span>
                      </a>
                      <a href="/user/view-waste-upload" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fa fa-paper-plane"></i><span><b>View Wastes Upload</b></span>
                      </a>
                      <a routerLink="/user/view-ngo-map" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fa fa-search"></i><span><b>View Nearby NGO's</b></span>
                      </a>
                      <a routerLink="/user/view-slum-area" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fa fa-pencil"></i><span><b>View Nearby Slum Area's</b></span>
                      </a>
                      <a routerLink="/user/society/1" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fa fa-reorder"></i><span><b>View Society</b></span>
                      </a>
                      <a routerLink="/user/view-pickup-schedule" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fa fa-calendar-check-o"></i><span><b>View pickup schedule</b></span>
                      </a>
                      <a href="/user/user-view-industry" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fa fa-toggle-right"></i><span><b>View Industries</b></span>
                      </a>
                      <a href="https://universe.roboflow.com/material-identification/garbage-classification-3" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fas fa-chart-line fa-fw me-3"></i><span><b>Multiple Seggregation</b></span>
                      </a>
                      
                    </div>
                  </div>
              
                <!-- Sidebar -->
              
               </mat-card>
            </div>
            <div class="col-md-9">
                <mat-card style="margin-top:2%"><h2 style="color:green"><i>Welcome {{username}} To My Swachta App </i><button style="margin-left:20%" mat-raised-button color="primary" (click)="logout()"><h3>Logout</h3></button></h2></mat-card>
                <router-outlet></router-outlet>
            </div> 
        </div>
    </div>
</div>

<div style="margin-left:70%">
    <iframe width="350" height="430" allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/dfab6bc9-0557-4f8a-a14b-197e68e793e1"></iframe>
</div>


