<h4 style="margin-top: 5%; margin-left:5%; color:red">List of Registered Industries In My Swachhta App</h4>
<div class="container">  
    <table class="table table-striped">
        <thead>
          <tr>
           <th style="text-align: left;">Image</th>
            <th style="text-align: left;">Name</th>
            <th style="text-align: left;">email</th>
            <th style="text-align: left;">address</th>
            <th style="text-align: left;">View</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let society of societies">
            <td> <img src="{{society.picByte}}" class="img-fluid img-thumbnail" style="max-height: 20%;"alt="Sheep"></td>
            <td>{{society.name}}</td>
            <td>{{society.email}}</td>
            <td>{{society.address}}</td>
            <td><button mat-raised-button  color="accent">view</button> </td>
          </tr>
          
        </tbody>
      </table> 
    
</div>
