<img alt="My image name" src="../../../assets/home-page.jpg" class="home-image">

<h1 align="center">Welcome To My Swachta App</h1>

<p align="center" style="color:black; margin-left: 8%; margin-right: 8%; ">What is the waste management concept? Waste management refers to the many methods and processes of dealing with waste at every stage from generation and collection through to final disposal. Waste needs to be managed in order to prevent contact with humans or their immediate environment.</p>

<button mat-raised-button color="accent" style="margin-left: 33%;">Register To My Swachta App Make the waste management effective!</button>

