.home-image{
    height: 60%;
    width:100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

*{
  box-sizing: border-box;
  list-style: none;
}
body{
  margin: 0px;
}
nav{
  background-color:black;
  overflow: hidden;
}
nav a{
  display:block;
  text-decoration: none;
  color:white;
  text-align: center;
  padding: 20px;
  float:left;
}
section {
  text-align: center;
  padding-top:40px;
  height:80vh;
}
section:first-child{
  margin-top:1px;
  opacity: 0.9;

}
section:nth-child(even){
  background-color:white;
  height:50vh;
}  
section:nth-child(even) h1,h2{
  padding-top:20px ;
  font-family: cursive;
  color:red;
  
} 

section:nth-last-child(even) h1{
  color:black;
}
.container {
 width:100%;
  height:400px;
  padding-top:20px;
  padding-left:15px;
  padding-right:15px;
}
.card img {
  width: 100%;
  height:100%;
  margin:none;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  opacity: none;
}
.card p{
  text-align: justify;
  padding-left: 10px;
  padding-right:10px;
}
.card {
  float:left;
  background-color: white;
  margin-top: 5px;
  margin-bottom:5px;
  height:370px;
  width:300px;
  position: relative;
  border:solid black;
  border-radius:20px;
  margin-left: 8px;
  margin-right: 8px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:blueviolet;
  color: white;
  text-align: center;
}
