<div style="padding-top: 1%; margin-top: 1%;">
    <mat-card>
        <table width="80%" height="100px" style="align-content: center;">
            <tr>
                <td width="40%"  style="color:white; padding: 20px">
                <img src="https://media.istockphoto.com/photos/gloved-hand-showing-a-recycle-symbol-made-of-wood-sustainable-picture-id1302751471?b=1&k=20&m=1302751471&s=170667a&w=0&h=NyHsda46g46J8srzdEFMcTWjUUgMAfuPT37ZUcC96zQ=">
        
                </td>
                <td width="40%"  style="padding: 20px" >
                    <h1>Add Waste Material</h1>
                    <form>
                        <p> <input type="text" placeholder="Enter waste material name" class="form-control" id="wasteMaterialName"  name="wasteMaterialName">   </p>
                        <p ><input type="text" placeholder="Enter  description" class="form-control" id="wasteMaterialDescription" name="description"></p>
                        <p style="color:green;"><input type="file"><i><b>Upload Image of Waste Material</b></i></p>
                        <button type="submit">Submit</button>
                    </form>
                
        
                </td>
            </tr>
        </table>
        
    </mat-card>
</div>