<div style="background-color:#2651a8; margin:auto;">
    <div class="title">
        <div style="text-align: center;"><h2 style="color:white;">How is waste treated and disposed off?</h2></div>
    </div>


    <div class="xyz" style="background-color:#ffe385;">
        <div>
            <div style="text-align: center;">
                <p style="color:red; width:80%; margin:auto;"><br>Waste management simply means the collection,
                    transport, processing or disposal, managing and monitoring of waste materials to minimize its'
                    consequences on humans and environment.</p>

                <img src="../../../assets/d1.jpg">

                <p style="color:black; width:80%; margin:auto;"><br><br>There are several methods of managing all the
                    various types of waste. Some of these methods cause additional harm to the environment, but not
                    doing anything is not an option.
                </p>


            </div>
        </div>
    </div>
</div>

<div style="background-color:#2651a8; margin:auto;">
    <div class="title">
        <div style="text-align:center"><h2 style="color:white;">What is Waste Recycling</h2></div>
    </div>


    <div class="xyz" style="background-color:#ffe385;">
        <div>
            <div style="text-align: center;">
                <p style="color:red; width:80%; margin:auto;"><br>Recycling is processing used materials (waste)
                    into new, useful products. This is done to reduce the use of raw materials that would have been
                    used. Recycling also uses less energy and and great way of controlling air, water and land
                    pollution.</p>
                <img src="../../../assets/r1.jpg" style="width:60%">

                <p style="color:black; width:80%; margin:auto;">Effective recycling starts with household (or
                    the place where the waste was created). In many serious countries, the authorities help households
                    with bin bags with labels on them. Households then sort out the waste themselves and place them in
                    the right bags for collection. This makes the work less difficult.Waste items that are usually
                    recycled include:</p>
                </div>
        </div>
    </div>
</div>
<div style="background-color:#2651a8; margin:auto;">
    <div class="title">
        <div style="text-align:center"><h2 style="color:white;"><br>Composting</h2></div>
    </div>
    <div class="xyz" style="background-color:#ffe385;">
        <div>
            <div style="text-align:center">
                <p style="color:red; width:80%; margin:auto;"><br>With the right conditions (air and moisture),
                    organic waste such as food and plant materials can be decomposed by bacteria, fungi, worms and
                    organisms. Decayed organic matter is humus. Yard waste such as grass and flower clippings can also
                    be composted.<br>Composting comes in two kinds: bin/pile composting and worm composting
                    (vermiculture).Bin/pile composting is easier for many households because one does not have to be too
                    careful with what to put into it. Here is what you need:<br></p>

                <img src="../../../assets/c1.jpg"><br>
                </div>
        </div>
    </div>


    <div class="xyz" style="background-color:#ff8000;">
        <div>
            <div style="text-align:center">
                <p style="color:white; width:80%; margin:auto;"><br><br>Get an old bin or box (1 cubic yard), or you can
                    buy one from the shop. Ensure that you punch holes around it to help with aeration. <br><br></p>
                </div>
        </div>
    </div>


    <div class="xyz" style="background-color:#00cc99;">
        <div>
            <div style="text-align:center">
                <p style="color:white; width:80%; margin:auto;">Prepare your organic waste matter. Make sure you cut
                    them into pieces (about 1inch in size). Do not throw in big chunks of the waste. Make sure you
                    separate the organic waste into brown and green parts. Brown parts include waste like wood chips,
                    saw-dust, yard waste shreds, straw and hay, dry leaves and shredded paper. Green parts include grass
                    trimmings, fruit and veggie scraps, green leaves and livestock manure..<br><br></p>
                </div>
        </div>
    </div>

    <div class="xyz" style="background-color:#ff5050;">
        <div>
            <div style="text-align:center"><br><br>
                <p style="color:white; width:80%; margin:auto;">Put the waste in the box in layers, 50% green, 50%
                    brown.</p>
                </div>
        </div>
    </div>


    <div class="xyz" style="background-color:#ffe385;">
        <div>
            <div style="text-align:center">
                <p style="color:black; width:80%; margin:auto;">Mix and add some water every 7 days. In a couple of
                    weeks, the compost will be ready. It will look dark-brown and smell just like soil.<br><br>There are
                    other larger composting units used in schools and some restaurants. These have larger cylindrical
                    chambers of about 8-10 feet in length. Waste items are usually layered in the chamber, dry leaves on
                    food waste layers. The content of the cylinders are turned regularly for aeration to speed up the
                    composting. It takes about 2-3 weeks for the composting to complete.<br><br>
                    Commercial composting units are a lot more sophisticated, as they are tested for color, pH, odor,
                    moisture, and other related characteristic that appeal to compost buyers.<br><br></p>
                </div>
        </div>
    </div>


</div>
<div style="background-color:#2651a8; margin:auto;">
    <div class="title">
        <div style="text-align:center"><h2 style="color:white;">Effects of waste and poor waste disposal</h2></div>
    </div>
    <div class="xyz" style="background-color:#ffe385;">
        <div>
            <div style="text-align: center;">
                <p style="color:black; width:80%; margin:auto;"><br><br>Imagine we all throw garbage, junk and rubbish
                    away anyhow. Imagine there was no authority to supervise waste management activities from all the
                    sources mentioned earlier. Imagine we all just sent our rubbish to the landfill, or just dumped them
                    in a nearby river. What do you think will happen? A disaster!<br><br></p>
            </div>
        </div>
    </div>
</div>


<div class="footer">
    <p>Copyright ©2022 nitinraj2001@gmail.com All rights reserved.
    </p>
  </div>

