<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <h3 class="section-subheading text-muted">My Swachta App- recycle, reusable and decompose</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading">Society Registration By Admin</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Society is register by an admin. Users of the respective society can register and upload wastes, and classify it to determine whether it is recyclable or reusable.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading">Classification By CNN Model</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Once the waste is classify and uploaded by the user, they can accordingly donate it to nearby ngo's, slum area's and if it is decomposable the book schedule to pick up wastes.</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading">Transition to Full Service</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Track the no of wastes uploded by the users and after every 7 days per society user will get rewards.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading">Collect Rewards</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Finally User can collect their rewards and waste management problem solved and it is reuse,recycle and dispose.</p></div>
                </div>
            </li>
           
        </ul>
    </div>
</section>

<div class="footer">
    <p>Copyright ©2022 nitinraj2001@gmail.com All rights reserved.</p>
</div>

